[submodule "attestation-frame"]
	path = attestation-frame
	url = git@github.com:Farcaster-On-Chain-Verification/attestation-frame.git
[submodule "attestation-server"]
	path = attestation-server
	url = git@github.com:Farcaster-On-Chain-Verification/attestation-server.git
[submodule "passport"]
	path = passport
	url = git@github.com:Farcaster-On-Chain-Verification/passport.git
